---
title: 404
heading: Thema existiert nicht
layout: compact.jade
noindex: true
---

p(data-info="?") Leider gibt es keinen Eintrag zu diesem Thema.
p.form-action.screen
	a.button(href=linkTo(locale, "/")) Zur Startseite
