---
title: FinnoBlog – Innovative Einblicke in die Zukunft von Banken
heading: FinTech News von Finnoconsult
description: Aktuelles aus unserem Blog
layout: blog.jade
---

p Der FinnoBlog wurde zu Beginn des Jahres 2017 ins Leben gerufen. Alle 14&nbsp;Tage berichtet er über Innovationen im Finanzsektor. Lesen Sie die #[a(href=linkTo(locale, "/2017/01/10-finnoblog-startet")) #[b Enstehungsgeschichte.]]
