---
title: Artikel von Christian Berger
description: Eine Liste aller FinnoBlog-Beiträge die von Christian Berger verfasst wurden.
author: Christian Berger
layout: blog.jade
---

p Christian Berger ist geschäftsführender Gesellschafter von #[strong Finnoconsult] und #[a(href="https://trinn.consulting/") TRINN&nbsp;Consulting], er schreibt regelmäßig im #[strong #finnoblog.] Er hat 17&nbsp;Jahre Erfahrung im digitalen Banking und war bis 2015 CEO des Innovationslabs BeeOne in der Erste&nbsp;Group. Chris ist Pionier in der FinTech- und InsureTech-Szene im #[abbr(title="Deutschland Österreich Schweiz") DACH]-Raum.
