---
title: Artikel von Guillaume Vaslin-Reimann
description: Eine Liste aller FinnoBlog-Beiträge die von Guillaume Vaslin-Reimann verfasst wurden.
author: Guillaume Vaslin-Reimann
layout: blog.jade
---

p Guillaume Vaslin ist Design & Innovation Consultant bei Finnoconsult. Er begleitet Start-Ups und Konzerne weltweit bei der Konzeption, UX/UI und Launch von digitalen Produkte.
