---
title: Artikel von Manuel Knopf
description: Eine Liste aller FinnoBlog-Beiträge die von Manuel Knopf verfasst wurden.
author: Manuel Knopf
layout: blog.jade
---

p Manuel Knopf ist Agile Innovation Consultant bei Finnoconsult.
