---
title: Artikel von Maria Rauch
description: Eine Liste aller FinnoBlog-Beiträge die von Maria Rauch verfasst wurden.
author: Maria Rauch
layout: blog.jade
---

p Maria Rauch ist Scrum Master und Agile Consultant bei FinnoConsult. Sie unterstützt seit 15 Jahren bei der Entwicklung von innovativen Webanwendungen und Apps für unterschiedliche Branchen und Zielgruppen.

