---
title: Artikel von Martin Eisendle
description: Eine Liste aller FinnoBlog-Beiträge die von Martin Eisendle verfasst wurden.
author: Martin Eisendle
layout: blog.jade
---

p Martin Eisendle ist Agile Innovation Consultant bei Finnoconsult. Er hat mehr als 12 Jahre Erfahrung im begleiten von Produktentwicklungen und ist seit 2017 im Schweizer Umfeld tätig.
