---
title: Artikel von Martin Schachinger
description: Eine Liste aller FinnoBlog-Beiträge die von Martin Schachinger verfasst wurden.
author: Martin Schachinger
layout: blog.jade
---

p Martin Schachinger ist Gründer von #[strong Finnoconsult] und einer der Hauptautoren, er schreibt regelmäßig hier auf dem #[strong #finnoblog.]
