---
title: Artikel von Matthias Beitl
description: Eine Liste aller FinnoBlog-Beiträge die von Matthias Beitl verfasst wurden.
author: Matthias Beitl
layout: blog.jade
---

p Matthias Beitl ist #[abbr(lang="en", title="User Experience") UX]-Experte und Technik-Evangelist bei #[a(href="https://trinn.consulting/") TRINN&nbsp;Consulting]. Er schreibt regelmäßig Gast-Beiträge für den #[strong #finnoblog.]
